.cell .inner_cell pre {
	overflow-x: auto;
}

.output_subarea {
	max-width: 100% !important;
}

.prompt {
	display: none;
}

.MathJax_Display {
	overflow-x: auto;
	overflow-y: hidden;
}

table.dataframe th, table.dataframe td {
	padding: 4px;
}

.output_png {
	text-align: center;
}

blockquote p {
	margin-top: 0;
}

.credits {
    opacity: 1;
    font-size: 0.8em;
    padding: 2em 0;
}

.credits a {
    border-bottom: 2px solid #f26a3d
}

.post-content a {
    border-bottom: 2px solid #f26a3d
}

.credits a:hover,
.credits a:focus {
    color: #f26a3d;
}

.rendered_html :visited {
    text-decoration: none !important;
}

.rendered_html :link {
    text-decoration: none !important;
}

.post-content img {
    max-width: 100%;
    width: 100%;
    margin-left: 0%;
}

img {
    margin: 0;
}

.blog-cover {
    animation: 0.5s ease-in fadein;
}

pre code,
pre tt {
    margin: 0;
    padding: 0;
}
