.cell .inner_cell pre {
	overflow-x: auto;
}

.output_subarea {
	max-width: 100% !important;
}

.prompt {
	min-width: 10ex !important;
}

.MathJax_Display {
	overflow-x: auto;
	overflow-y: hidden;
}

table.dataframe th, table.dataframe td {
	padding: 4px;
}

.output_png {
	text-align: center;
}

blockquote p {
	margin-top: 0;
}